.bg{background-image: url(../images/bg.jpg); background-attachment: fixed; background-repeat: no-repeat; background-size: cover; background-position-x: center; background-position-y: center;}
.wd_1500{max-width: 1500px; margin: auto; position: relative;}
div{font-size: 35px; font-family: 'Oswald', sans-serif; text-align: center;}
.text{font-family: 'Black Ops One', cursive; font-weight: 300;}
.pd{padding-right: 20px; padding-left: 20px;}
.customText{text-align: center;  font-size: 65px; font-family: 'Black Ops One', cursive;}
.bdr{border-style: double; border-width: 15px; margin-top: 18px; padding-left: 0px; padding-right: 0px;}
@media (min-width: 992px){
    .datef{margin-top: 140px; font-size: 80px;}
    .rht{margin-top: 110px;}
    .customText{text-align: center;  font-size: 90px;}
    .bdr{border-style: double; border-width: 25px; padding-left: 0px; padding-right: 0px;}
}

@media (min-width: 576px) and (max-width: 991px){
    .rht{margin-top: 30px;}
    .datef{margin-top: 50px; font-size: 50px;}
    .customText{text-align: center;  font-size: 85px;}
    .bdr{border-style: double; border-width: 15px; margin-top: 18px; padding-left: 0px; padding-right: 0px;}
}

@media (max-width: 575px){
    .size{font-size:  55px;}
    .datef{font-size: 35px;}
}
